<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>watcher</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"> <br/><br/>
        名：<input type="text" v-model="lastName"> <br/><br/>
        全名1：<span>{{firstName}}-{{lastName}}</span>
        <br>
        <hr>
        全名2：<span>{{getFullName()}}</span>
        <br>
        <hr>
        全名3：<span>{{fullName}}</span>
    </div>

    <script>
        let vm = new Vue({
            data(){
                return{
                    firstName:'张',
                    lastName:'三',
                }
            },
            methods:{
                getFullName(){
                    return this.firstName + '-' + this.lastName
                }
            },
            computed:{
                fullName:{
                    get(){
                        return this.firstName + '====' + this.lastName
                    },
                    set(value){
                        console.log('set',value)
                        let arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            },
        })
        vm.$mount('#root')

    </script>

</body>
</html>
